{% extends "master.html" %}

{% block title %} Testing {% endblock %}

{% block content %}
	{% include "mymenu.html" with me="MAMUN" sponsor="TALUKDER" %}
	{% for x in the_members %}
		<h1
			{% if forloop.first %}
			{#style='background-color:blue'#}
			style='background-color:lightblue'
			{% elif forloop.last %}
			style='background-color:lightblue'
			{% endif %}
		>{{ forloop.counter0 }}</h1>
		<p>
			{{ x.firstname }}
			{{ x.lastname }}
		</p>
	{% comment "There are loyal members in the club" %}		
	{% empty %}
		<h1>No Members</h1>
	{% endcomment %}
	{% endfor %}
	{% include "footer.html" %}
{% endblock %}